/* Scoped styles for diet-container */
.diet-container #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.diet-container .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.diet-container .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.diet-container .logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes diet-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .diet-container a:nth-of-type(2) .logo {
    animation: diet-logo-spin infinite 20s linear;
  }
}

.diet-container .card {
  padding: 2em;
}

.diet-container .read-the-docs {
  color: #888;
}
